<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paypoint">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PayPoint">
        <activity android:name="xyz.paypnt.paypoint.Dashboard"></activity>
        <activity android:name="xyz.paypnt.paypoint.Signup" />
        <activity android:name="xyz.paypnt.paypoint.Login" />
        <activity android:name="xyz.paypnt.paypoint.Password" />
        <activity android:name="xyz.paypnt.paypoint.History" />
        <activity android:name="xyz.paypnt.paypoint.HowToUse" />
        <activity android:name="xyz.paypnt.paypoint.AboutUs" />
        <activity android:name="xyz.paypnt.paypoint.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="xyz.paypnt.paypoint.MainActivity" />
    </application>

</manifest>